<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library so you can select a selfie for your training certificate.</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera so you can add a selfie to your training certificate.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
	</array>
</dict>
</plist>
